<%= simple_form_for @cliente, :url => url_for(:controller => 'clientes'), :method => 'post' do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :dni, label: "D.N.I. Nro." %>
    <%= f.input :username, label: "Nombres" %>
    <%= f.input :lastname, :cols =>60, label: "Apellidos" %>
    <%= f.date_select :fechadenacimiento, start_year:1940, last_year:2015, label: "Fecha de nacimiento" %>
    <%= f.input :direccion, label: "Dirección" %>
    <%= f.input :distrito, label: "Distrito" %>
    <%= f.input :encrypted_password, label: "Contraseña" %>
    <%= f.input :diredeli, label: "Dirección del Delivery" %>
    <%= f.input :telefono, label: "Telefono" %>
    <%= f.input :email, label: "Correo Electronico" %>
  </div>  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
