<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @titulo %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <div clas="titulo">
    <h1><%= @empresa.name %></h1>
  </div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li data-toggle="tab"><%= link_to "Home", admin_path %></li>
    <li data-toggle="tab"><%= link_to "Administradores", usuarios_path %></li>
    <li class="active" data-toggle="tab"><%= link_to "Clientes", clientes_path %></li>
    <li data-toggle="tab"><%= link_to "Menus", menus_path %></li>
    <li data-toggle="tab"><%= link_to "Pedidos", admini_pedidos_path %></li>
    <li data-toggle="tab"><%= link_to "Comidas Semanales", comidas_path %></li>
    <li data-toggle="tab"><%= link_to "Empresas", empresas_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", locals_path %></li>
    <li data-toggle="tab"><%= link_to "Promociones", promocions_path %></li>
    </ul>
</nav>
<body>
<<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Codigo (DNI):</strong>
  <%= @cliente.dni %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @cliente.username %>
</p>
<p>
  <strong>Apellidos:</strong>
  <%= @cliente.lastname %>
</p>
<p>
  <strong>Fecha Nacimiento:</strong>
  <%= @cliente.fechadenacimiento %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @cliente.direccion %>
</p>
<p>
  <strong>Distrito:</strong>
  <%= @cliente.distrito %>
</p>
<p>
  <strong>Dirección de Delivery:</strong>
  <%= @cliente.diredeli %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @cliente.telefono %>
</p>
<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Regresar', clientes_path %>
</div>
</body>
</html>
