<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= @titulo %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<div clas="titulo">
		<h1><%= @empresa.name %></h1>
	</div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li class="active" data-toggle="tab"><%= link_to "Home", admin_path %></li>
    <li data-toggle="tab"><%= link_to "Administradores", usuarios_path %></li>
    <li data-toggle="tab"><%= link_to "Clientes", clientes_path %></li>
    <li data-toggle="tab"><%= link_to "Comida", menus_path %></li>
    <li data-toggle="tab"><%= link_to "Pedidos", pedidos_path %></li>
    <li data-toggle="tab"><%= link_to "Menus Semanales", comidas_path %></li>
    <li data-toggle="tab"><%= link_to "Empresas", empresas_path %></li>
	<li data-toggle="tab"><%= link_to "Locales", locals_path %></li>
	<li data-toggle="tab"><%= link_to "Promociones", promocions_path %></li>
    </ul>
</nav>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if admi_signed_in?%>
	<p class="log2">Bienvenido a la Herramienta Administrador, Hola <%= link_to current_admi.username %></p>
	<p class="log2"><%= link_to 'Finalizar Sesión', destroy_admi_session_path, method: :delete %></p>
<% end %>
    <div class="imagen1">
    <a href=<%= usuarios_path %>><img src="admin.jpg" width=150 height=150></a>
    <a href=<%= clientes_path %>><img src="users.jpg" width=150 height=150></a>
    <a href=<%= menus_path %>><img src="menus.jpg" width=150 height=150></a>
    <a href=<%= pedidos_path %>><img src="pedidos.bmp" width=150 height=150></a><br />
    <a href=<%= comidas_path %>><img src="comida.jpg" width=150 height=150></a>
    <a href=<%= empresas_path %>><img src="empresa.jpg" width=150 height=150></a>
	<a href=<%= locals_path %>><img src="local.png" width=150 height=150></a>
	<a href=<%= promocions_path %>><img src="promocion.jpg" width=150 height=150></a>
	</div>
</body>
</html>
