<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= @titulo %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<div clas="titulo">
		<h1><%= @empresa.name %></h1>
	</div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li class="active" data-toggle="tab"><%= link_to "Home", root_path %></li>
    <li data-toggle="tab"><%= link_to "Menus", home_menus_path %></li>
    <li data-toggle="tab"><%= link_to "Promociones", home_promociones_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", home_locales_path %></li>
    <li data-toggle="tab"><%= link_to "Contactenos", home_contactenos_path %></li>
    <li data-toggle="tab"><%= link_to "About", home_about_path %></li>
    </ul>
</nav>
<body>
<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
	<p class="logo"><%= image_tag @empresa.logo, :width => 500 %></p>
    <div class="imagen1">
    <a href=<%= home_menus_path %>><img src="comida.png" width=150 height=150></a>
    <a href=<%= home_promociones_path %>><img src="promocion.png" width=150 height=150></a>
    <a href=<%= home_locales_path %>><img src="local1.png" width=150 height=150></a><br />
    <a href=<%= home_contactenos_path %>><img src="contacto.png" width=150 height=150></a>
    <a href=<%= home_about_path %>><img src="about.png" width=150 height=150></a>
	</div>
</div>

      <footer id="footer">
        <p>&copy; <%= @empresa.name %> 2015</p>
      </footer>
</body>
</html>