<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= @empresa.name %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<div clas="titulo">
		<h1><%= @empresa.name %></h1>
	</div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li data-toggle="tab"><%= link_to "Home", root_path %></li>
    <li data-toggle="tab"><%= link_to "Menus", home_menus_path %></li>
    <li class="active" data-toggle="tab"><%= link_to "Promociones", home_promociones_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", home_locales_path %></li>
    <li data-toggle="tab"><%= link_to "Contactenos", home_contactenos_path %></li>
    <li data-toggle="tab"><%= link_to "About", home_about_path %></li>
    </ul>
</nav>
<body>
<div class="container">
<h1 class="log1">Nuestras Promociones</h1>
    <% @promocions.each do |promocion| %>
        <h2><%= promocion.nombre %></h2>
		<p><%= image_tag(promocion.imagen_url, :width => 400) if promocion.imagen.present? %></p>
        <p><%= promocion.descripcion %></p>
    <% end %>
</div>
</body>
</html>