<p id="notice"><%= notice %></p>

<h1>Listing Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Dni</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Local</th>
      <th>Menu</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Delivery</th>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.numero %></td>
        <td><%= pedido.fecha %></td>
        <td><%= pedido.nombre %></td>
        <td><%= pedido.dni %></td>
        <td><%= pedido.telefono %></td>
        <td><%= pedido.email %></td>
        <td><%= pedido.local %></td>
        <td><%= pedido.menu %></td>
        <td><%= pedido.cantidad %></td>
        <td><%= pedido.precio %></td>
        <td><%= pedido.delivery %></td>
        <td><%= pedido.observacion %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
