<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios / Administrador de Local</h1>

<table>
  <thead>
    <tr>
      <th>Nombres y Apellidos</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Local</th>
<!--      <th>Clave</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombres %></td>
        <td><%= usuario.dni %></td>
        <td><%= usuario.email %></td>
<!--        <td><%= usuario.clave %></td> -->
        <td><%= usuario.tipo %></td>
        <td><%= usuario.local %></td>
        <td><%= link_to 'Visualizar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Estas Seguro que desea Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_usuario_path %>
