<%= simple_form_for @empresas, html: {multipart: true} do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :name, label: "Empresa" %>
  <%= f.input :ruc, label: "R.U.C." %>
  <%= f.input :direccion, label: "Dirección" %>
  <%= f.input :telefono, label: "Telefono" %>
  <%= f.input :moneda, label: "Moneda" %>
  <%= f.input :igv, label: "I.G.V." %>
  <%= f.input :about_1, label: "About Nro. 1"%>
  <%= f.input :about_2, label: "About Nro. 2" %>
  <%= f.input :logo, as: :file, label: "Logo de la empresa" %>
  </div>

<div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to "Cancelar", empresas_path, :class => 'btn btn-default' %>
</div>
<% end %>