<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @titulo %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <div clas="titulo">
    <h1><%= @empresa.name %></h1>
  </div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li data-toggle="tab"><%= link_to "Home", admin_path %></li>
    <li data-toggle="tab"><%= link_to "Administradores", usuarios_path %></li>
    <li data-toggle="tab"><%= link_to "Clientes", clientes_path %></li>
    <li data-toggle="tab"><%= link_to "Menus", menus_path %></li>
    <li data-toggle="tab"><%= link_to "Pedidos", admini_pedidos_path %></li>
    <li data-toggle="tab"><%= link_to "Comidas Semanales", comidas_path %></li>
    <li class="active "data-toggle="tab"><%= link_to "Empresas", empresas_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", locals_path %></li>
    <li data-toggle="tab"><%= link_to "Promociones", promocions_path %></li>
    </ul>
</nav>
<body>
<p id="notice"><%= notice %></p>

<h1>Datos de la empresa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ruc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.name %></td>
        <td><%= empresa.ruc %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
</html>