<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @titulo %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <div clas="titulo">
    <h1><%= @empresa.name %></h1>
  </div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li data-toggle="tab"><%= link_to "Home", admin_path %></li>
    <li data-toggle="tab"><%= link_to "Administradores", usuarios_path %></li>
    <li data-toggle="tab"><%= link_to "Clientes", clientes_path %></li>
    <li data-toggle="tab"><%= link_to "Menus", menus_path %></li>
    <li data-toggle="tab"><%= link_to "Pedidos", admini_pedidos_path %></li>
    <li data-toggle="tab"><%= link_to "Comidas Semanales", comidas_path %></li>
    <li class="active" data-toggle="tab"><%= link_to "Empresas", empresas_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", locals_path %></li>
    <li data-toggle="tab"><%= link_to "Promociones", promocions_path %></li>
    </ul>
</nav>
<body>
<div class="container">
<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Empresa</th>
      <th>RUC</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= link_to empresa.id, empresa_path(empresa) %></td>
        <td><%= empresa.name %></td>
        <td><%= empresa.ruc %></td>
        <td>

          <%= link_to 'Visualizar', empresa, :class => 'btn btn-default btn-xs' %>
          <%= link_to "Editar", edit_empresa_path(empresa), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
</html>
