<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @titulo %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <div clas="titulo">
    <h1><%= @empresa.name %></h1>
  </div>
</head>
<nav>
    <ul class="nav nav-tabs">
    <li data-toggle="tab"><%= link_to "Home", admin_path %></li>
    <li data-toggle="tab"><%= link_to "Administradores", usuarios_path %></li>
    <li data-toggle="tab"><%= link_to "Clientes", clientes_path %></li>
    <li data-toggle="tab"><%= link_to "Comida", menus_path %></li>
    <li data-toggle="tab"><%= link_to "Pedidos", admini_pedidos_path %></li>
    <li class="active" data-toggle="tab"><%= link_to "Menus Semanales", comidas_path %></li>
    <li data-toggle="tab"><%= link_to "Empresas", empresas_path %></li>
    <li data-toggle="tab"><%= link_to "Locales", locals_path %></li>
    <li data-toggle="tab"><%= link_to "Promociones", promocions_path %></li>
    </ul>
</nav>
<body>

<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @comida.dia %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comida.fecha %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @comida.codigo %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @comida.menu %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @comida.tipo %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @comida.ciudad %>
</p>

<p>
  <strong>Local:</strong>
  <%= @comida.local %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @comida.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @comida.precio %>
</p>

<%= link_to 'Edit', edit_comida_path(@comida) %> |
<%= link_to 'Back', comidas_path %>
</body>
</html>